.table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.table-container {
 display: flex;
  flex-direction: row;
  justify-content: center;
   align-items: center;
}

.years-experience, .age {
  text-align: center;
}

h1 {
  font-family: arial, serif;
  text-align: center;
  font-style: italic;

}
.table thead tr th {
  background-color: #0DB5DF;
  color: black;
  text-align: center;
}

.table th,
.table td {
    padding: 12px 15px;
}

.table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.table tbody tr:nth-of-type(even) {
  background-color:#F4F7F9;
}

.table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.table tbody tr.active-row {
  font-weight: bold;
  color: #50BB4B;
}

img {
  width: 150px;
}

.sort-button {
  margin-left: 10px;
  height: 18px;
  padding:0px 2px 0px 2px;
  border: none;
  outline: none;
  background-color: transparent;
}

.status {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-right: 10px;
}

.approved {
  background-color: #74C970;
}

.rejected {
  background-color: #EC4A3F;
}

.waiting {
  background-color: #FFA319;
}

.subtext {
  font-size: 0.8em;
  margin-top: 8px;
}

thead tr th {
  position:sticky;
  top:0;
}

.table tbody{
  overflow:scroll;
  height:600px;
}
